name: Publish Action

on:
  release:
    types: [published]

permissions:
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
      packages: write # Required for ID token authentication
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@v2.11.1
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@v4.2.2

      - name: Publish Action
        uses: actions/publish-immutable-action@v0.0.4