name: Publish Action

on:
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest
   
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: echo
        run: echo "hello"
